.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.element {
  -webkit-user-select: none; /* Safari 3.1+ & iOS Safari 3.2+ */
  -moz-user-select: none;    
  user-select: none;         
}
